.Player {
  width: 100%;
  height: 165px;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
}

.Player__container {
  background-color: #ffffff;
  border: 1px #DEDEDE solid;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.Player__react-player {
  display: none;
}

.Player__title {
  font-size: 16px;
  color: #000000;
  margin: 0;
  line-height: 1.3;
}

.Player__title a {
  color: #000000;
  text-decoration: none;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  max-height: 40px;
}

.Player__subtitle {
  font-size: 14px;
  color: #969696;
  margin: 0;
  font-weight: normal;
  line-height: 1.3;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.Player__subtitle a {
  color: #969696;
  text-decoration: none;
}

.Player__title a:hover,
.Player__subtitle a:hover {
  text-decoration: underline;
}


.Player__top-container {
  display: flex;
  margin-bottom: 12px;
}

.Player__bottom-container {
  display: flex;
  margin-top: 8px;
}

.Player__info-container {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
}

.Player__play-control-container {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.Player__play-control-button {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #0066FF;
  border: 0;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms background-color;
}

.Player__play-control-button svg {
  width: 20px;
  height: 20px;
  position: relative;
  left: 1px;
}

/* .Player__play-control-button:hover {
  background-color: #15243D;
} */

.Player__play-control-button:focus {
  outline: none;
}

.Player__progress-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Player__progress-control-container {
  width: 100%;
}

.Player__progress-time-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.Player__progress-control {
  width: 100%;
  border: 0;
  margin: 0;
  display: block;
}

.Player__progress-time {
  width: 50px;
  color: #969696;
}

.Player__progress-time--played {
  text-align: left;
}

.Player__progress-time--remaining {
  text-align: right;
}

.Player__range-track-container {
  height: 4px;
  width: 100%;
  background-color: #cccccc;
  border-radius: 4px;
}

.Player__range-thumb-container {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Player__range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background-color: #0066FF;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: 150ms all;
}

.Player__range-thumb--is-dragging {
  transform: scale(1.5);
}

.Player__range-thumb-label {
  position: absolute;
  top: -24px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: #000000;
}

.Player__modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.Player__modal-content {
  width: 320px;
  height: 130px;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 18px;
}

.Player__modal-title {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
}
