<!DOCTYPE html>
<html lang="en">
<head>
 <title>Listen to: <%= title %> | Playpost</title>
 <meta name="robots" content="noindex,follow" />
</head>
<body>

  <script>
    window.article = <%- article %>
  </script>

</html>
